body {
    background-color: #88919a22;
}

h1 {
    text-align: center;
    color: #dc86e2;
    margin-top: 11%;
}

.mainMenu {
    padding-left: 45%;
    font-size: 23px;
    font-weight: 700;
}

.mainMenu ul li a {
    color: red;
    text-decoration: none;
}

a:link {
    text-decoration: none;
    font-size: 23px;
}

input[type="text"]
{
    font-size:24px;
}
label
{
    font-size:23px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    padding-left: 50px;
}
th,td {
    font-size: 23px;
    padding-left: 20px;
}